<!DOCTYPE html>
<html lang="en" ng-app"ratTrack">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="icon" href="http://getbootstrap.com/favicon.ico">

        <title>Rat Track</title>

        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet" />

        <script src="js/app.js"></script>
        <script src="home/home.js"></script>
        <script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
        <script src="https://cdn.firebase.com/js/simple-login/1.6.2/firebase-simple-login.js"></script>

    </head>
    <body ng-controller="HomeCtrl">
        <div class="container">
            <div class="jumbotron" style="padding-bottom:0px;">
                <h2>RAT TRACK: AngularJS & Firebase App!</h2>
            </div>
            <form class="form-signin" role="form">
                <input ng-model ="user.email" type="email" class="form-control" placeholder="Email address" required="" autofocus="">
                <input ng-model="user.passord" type="password" class="form-control" placeholder="Password" required="">
                <label class="checkbox">
                    <a href="#/register"> Sign Up</>
                </label>
                <button type="button" ng-click="SignIn($event)" class="btn btn-lg btn-primary btn-block">SignIn</button>
            </form>
        </div>
    </body>
</html>
